img {
    height: 11.2em;
    width: 8em;
}

.gallery {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 10em;
    height: 12em;
}

.card-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
    padding: 0.5em;
}

.card {
    margin: 0.5em;
    padding: 0;
}

.winner {
    background-color: green;
}

.gallery-container {
    margin: 0 10em;
}